/*banner*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
display: block;
width: 100% \9;
max-width: none !important;
height: auto;
}
.airbanner {
	height: 570px !important;
}
.air-home-prodcuts-title {
	color: #de6060 !important;
	font-weight: bolder;
}
.air-home-prodcuts-title span {
	padding-bottom: 10px;
	border-bottom: #999 solid 1px;
	padding-left: 200px;
	padding-right: 200px;
}
.air-home-prodcuts-title span b {
	padding-bottom: 9px;
  border-bottom: #666666 solid 2px;
}
/*分成5列*/
.col-lg-2dot4 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
@media (min-width: 980px) {
.col-lg-2dot4 {
float: left;
}
.col-lg-2dot4 {
width: 20%;
}
.col-lg-pull-2dot4 {
right: 20%;
}
.col-lg-push-2dot4 {
left: 20%;
}
.col-lg-offset-2dot4 {
margin-left: 20%;
}
}
/*circle*/
#circle {
  margin-left:30px;
  width: 100px;
  height: 100px;
  background: #f5f5f5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/*功能特性*/
.airhfeature {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;

}
.air-feature-icon {
	padding: 26px;
  font-size: 50px;
}
.air-feature-des {
	font-weight: bold;
	padding-top: 15px;
}
.airhproducts {
	background: #f6f6f6;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.air-products-img {
	width: 300px !important;
	height: 250px !important;
}
.air-news-img {
	width: 220px !important;
	height: 180px !important;
}
/*news time*/
.airhnews{
	background-color: #fff;
	padding-top:30px;
	padding-bottom:50px;
}
.air-news-h{
	padding-left: 40px; 
	margin-top:30px;
}
.air-news-date{
  margin-top: 10px;
	position: absolute;
}
.air-news-day{
  padding-bottom: 0px;
  font-size: 18px;
  display: block;
}
.air-news-mon{
	padding-top: 0px;
	border-bottom: red solid 2px;
	font-size: 5px;
	padding-bottom: 5px;
}
/*new*/
.air-home-content-title{
	/*border-bottom: green solid 2px;*/
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bolder;
	width: 90px;
}
.air-home-second-title{
   font-size: 14px;
   font-weight: bold;
}
.air-home-news-line{
	border-right: 2px solid #999;
}
.air-home-news-span1{
	font-size: 16px;
	font-weight: bolder;
}
.air-home-news-span2{
	color: #999;
}
.air-home-news-des{
	color: #999;
}
.air-home-products{
	width: 300px;
	height: 120px;
	margin-top: 10px;
}
.air-more a{
	color: #6ebc68;
}
.air-more a:hover{
	color: #6ebc68;
	text-decoration: none;
}
.home-con{
	background-color: #fff !important;
}