.intro-co-img{
	margin-top: 15px !important;
	width: 470px !important;
	height: 400px !important;
	padding: 10px 10px !important;
}
.intro-co-img-en{
	margin-top: 15px !important;
	width: 470px !important;
	height: 340px !important;
	padding: 10px 10px !important;
}