/*add*/
.thumbnail:hover {
box-shadow: 0px 0px 20px #999 !important ;
}
.newslist-wrap {
	min-width: 980px;
}
.newbanner {
	height: 230px;
	min-width: 1050px;
	background: url(../images/new-bann.png) ;
}
.newslist {
	padding-top: 20px;
}
.newslist .thumbnail {
	box-shadow: 0px 0px 8px #dedede;
	/*add*/
	border: none;
	border-radius: 0!important;
	padding: 10px;
}
.newslist h3 {
	font-size: 17px!important;
	font-family: "微软雅黑";
	margin-bottom: 30px;
	color: #080808;
}
.newslist h3 a,.newslist h3 a:hover {
	color: #666666;
	text-decoration: none;
}
.newslist>p {
	font-size: 14px!important;
	font-family: "微软雅黑";
	color:#5C5C5C;
	line-height: 20px;
}
.newbanner {
	position: relative;
}
.newbanner h1 {
	padding: 20px 15px;
	text-align: center;
	width: 566px;
	background-color: rgba(156,156,156,0.7);
	color: #fff;
	font-size: 40px;
	position: absolute;
	top: 50px;
	right: 219px;

}
.newitem {
	position: relative;
}
.newitem p a,.ne p a:hover {
	color: #999;
	text-decoration: none;
}
.newitem img {
	border: 1px solid #BCBCBC;
}
.newslist span {
	position: absolute;
	top: 205px;
	right: 40px;
	color:#9E9E9E;
}
.page ul {
	text-align: center;
	/*margin-top: 25px;*/
}
.page ul li{
	display: inline-block;
	margin-right: 1px!important;
	border-radius: 0;
}
.page ul li a,.page ul li a:hover {
	color: #fff;
	background-color: #434444;
	padding: 9px 15px;
}
.page  li:first-child > a, .page li:first-child > span,
.page  li:last-child > a, .page li:last-child > span {
border-radius: 0!important;
}

/* footer */
.footer {
	color: #fff;
	background-color: #3F4246;
	font-family: "幼圆";
	min-width: 1050px;
}
.footer h3 {
	font-size: 20px;
	font-weight: bold;
	width: 87px;
	padding-bottom: 5px;
	border-bottom: 2px  #D8D8D8 solid;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	text-decoration: none;
}
.footerboxa {
	margin: 0 auto;
	height: 220px;
}
.footerboxb {
	height: 80px;
	position: relative;
	background-color:#282B2C ;
}
.footerboxa .aboutus {
	margin-top: 20px;
	width: 260px;
	float: left;
	margin-left: 0;
	margin-right: 100px;
}
.footerboxa .contactus {
	width: 260px;
	float: left;
	margin-right: 70px;
	margin-top: 20px;
}
.footerboxa .flink {
	width: 260px;
	float: left;
	margin-top: 20px;
}
.footerboxa .flink ul li {
	float: left;
}
.footerboxa .flink ul li a {
	padding: 5px 10px 5px 0;
	line-height: 30px;
}
.footerboxa .flink ul li a:hover {
	color:#64CBFD ;
}
.footerboxb p {
	width: 500px;
	margin:0 auto;
	padding-top: 31px;
}
.aboutus p,.contactus> a,.contactus p,.flink a {
	color: #D8D8D8;
}
/* endfooter */